<header class="snake-header">
  <h1 class="stacked">Snake</h1>
  <h1 class="stacked">Snake</h1>
  <h1 class="stacked">Snake</h1>
  <h1 class="stacked">Snake</h1>
</header>

<main class="game">
  <div class="overlay" *ngIf="gameBoard.gameOver">
    <div class="game-over">
      <h2>Game Over</h2>
      <button class="restart-btn" (click)="gameBoard.resetGame()">
        Restart
      </button>
    </div>
  </div>
  <div class="overlay" *ngIf="gameBoard.screenSizeUpdated">
    <div class="resize-warning">
      <h2>Screen Resized</h2>
      <p>Please refresh the page to continue playing.</p>
    </div>
  </div>
  <div class="top">
    <div class="score">
      <h3>1UP</h3>
      <p>{{ foodService.totalPoints }}</p>
    </div>
    <div class="high-score">
      <h3>HIGH SCORE</h3>
      <p>{{ foodService.getHighScore() }}</p>
    </div>
  </div>
  <div class="game-wrapper">
    <app-game-board class="app-game-board" #gameBoard></app-game-board>
  </div>
  <div class="mobile-btns">
    <button class="up-btn" (click)="changeDirection({ x: -1, y: 0 })">></button>
    <button class="left-btn" (click)="changeDirection({ x: 0, y: -1 })">
      <
    </button>
    <button class="pause-btn" (click)="togglePause()">=</button>
    <button class="right-btn" (click)="changeDirection({ x: 0, y: 1 })">
      >
    </button>
    <button class="down-btn" (click)="changeDirection({ x: 1, y: 0 })">
      >
    </button>
  </div>
</main>
